<form #applicationForm="ngForm">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="applicationId">Application Name</label>
        <input type="text" class="form-control" id="applicationName" name="applicationName" [(ngModel)]="application.applicationName">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="applicationCode">Application Code</label>
        <input type="text" class="form-control" id="applicationCode" name="applicationCode" [(ngModel)]="application.applicationCode">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="applicationCode">Application Description</label>
        <input type="text" class="form-control" id="applicationDesc" name="applicationDesc" [(ngModel)]="application.applicationDesc">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="frequency">Frequency</label>
        <select class="form-control" id="frequency" name="frequency" [(ngModel)]="application.frequency">
          <option *ngFor="let freq of frequencies" value="{{freq}}" >{{freq}}</option>
        </select>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="boundType">Bound Type</label>
        <select class="form-control" id="boundType" name="boundType" [(ngModel)]="application.boundType">
          <option *ngFor="let bt of boundTypes" value="{{bt}}">{{bt}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="remarks">Remarks</label>
        <input type="text" class="form-control" id="remarks" name="remarks" [(ngModel)]="application.remarks">
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button type="cancel" class="btn btn-secondary" name="button" (click)="onCancel()">Cancel</button>
      <button type="submit" class="btn btn-primary ml-2" name="button" (click)="onSubmit()">Save</button>
    </div>
  </div>
</form>
{{diagnostic}}
